<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @garden.banner_url %>')">
  <%= @garden.name %>
</div>

<div class="cards">
  <% @garden.plants.each do |plant| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.photo_url %>')">
      <div class="tags">
        <% plant.plant_tags.each do |plant_tag| %>
          <span><%= plant_tag.tag.name %> <%= link_to "x", plant_tag_path(plant_tag), method: :delete %></span>
        <% end %>
        <span><%= link_to "+", new_plant_plant_tag_path(plant), class: 'add' %></span>
      </div>
      <%= plant.name %>
      <%= link_to '+', plant_path(plant), method: :delete, data: { confirm: 'Sure ?'}, class: 'remove-link'  %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name %>
        <%= f.input :photo_url %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
